Import all required libarlies at the start

In [17]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from statistics import stdev, mean

from keras.models import Sequential
from keras.layers import Dense

Load data from link provided

In [18]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Split data into predictors <strong>X</strong> and predicted variable <strong>y</strong>

In [19]:
X = concrete_data.loc[:, concrete_data.columns != 'Strength']
y = concrete_data.loc[:, concrete_data.columns == 'Strength']

In [20]:
X = (X - X.mean()) / X.std()
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Create helper function for model definition

In [21]:
def define_model():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(len(X.columns),)))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Normalize predictors

Create model
Create empty means squared error list

Repeat 50 times:

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. 

2. Train the model on the training data using 100 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength.

In [22]:
# Create model
model = define_model()
# Create empty means squared error list
msqe_list = []

for x in range(0, 50):
    # pefrom split into train selection
    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)
    # Train the model on the training data using 50 epochs
    model.fit(X_train, y_train, epochs=100, verbose=0)
    # predict using model
    y_pred = model.predict(X_test)
    # compute mean squared error
    msqe = mean_squared_error(y_test, y_pred)
    msqe_list.append(msqe)
    # you can chekc progress
    # print("iteration number="+str(x))

Report the mean and the standard deviation of the mean squared errors.

In [23]:
mean_msqe = mean(msqe_list)
stdev_msqe = stdev(msqe_list)

In [24]:
print("Mean square error = {}  standard derviation= {}  ".format(
    round(mean_msqe, 2), round(stdev_msqe, 2)))

Mean square error = 31.63  standard derviation= 17.62